* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    background-color: lime;
    padding: 20px 10px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 100%;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.yellow-block .col:not(:first-child):not(:last-child) {
    flex-basis: 25%;
    max-width: 25%;
}

.yellow-block .col:first-child, .yellow-block .col:last-child {
    flex-basis: 75%;
    max-width: 75%;
}

.yellow-child {
    background-color: yellow;
    /*min-height: 150px;*/
    flex-shrink: 0;
    flex-grow: 1;
}

.blue-block .col {
    flex-basis: 50%;
    max-width: 50%;
}

.blue-child {
    background-color: blue;
    /*min-height: 150px;*/
    flex-shrink: 0;
    flex-grow: 1;
}

.pink-block .col {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.pink-child {
    background-color: hotpink;
    /*min-height: 150px;*/
    flex-shrink: 0;
    flex-grow: 1;
}

@media only screen and (max-width: 540px) {
    .yellow-block .col:not(:first-child):not(:last-child), .yellow-block .col:first-child, .yellow-block .col:last-child, .blue-block .col {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    .yellow-child, .blue-child, .pink-child {
        min-height: 150px;
    }
}

@media only screen and (orientation: portrait) {
    .yellow-child, .blue-child, .pink-child {
        min-height: 400px;
    }
}


/*.col-75 {*/
/*    flex-basis: 75%;*/
/*    max-width: 75%;*/
/*}*/

/*.col-25 {*/
/*    flex-basis: 25%;*/
/*    max-width: 25%;*/
/*}*/


/*.yellow-child:nth-child(odd) {*/
/*    flex-basis: 75%;*/
/*    max-width: 75%;*/
/*    margin-right: 10px;*/
/*    margin-left: -10px;*/
/*}*/

/*.yellow-child:nth-child(even) {*/
/*    flex-basis: 25%;*/
/*    max-width: 25%;*/
/*}*/